apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMapName }}
  namespace: {{ .Values.namespace }}
data:
  DB_HOST: {{ .Values.DB_HOST }}
  # Add other configuration key-value pairs as needed
